/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}



input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

/* NAVIGATION MENU */

.nav {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-style: solid none solid none solid none solid none;
    margin-top: 5px;
    padding: 7px 12px;
	border-radius:4px;
}

.menuButton {
    font-size: 10px;
    padding: 10px 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}

.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
/*extra*/
.btn-link1 a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
	font-size:10px;
	font-weight:bold;
}
.btn-link1 a.edit {
    background: url(../images/skin/database_edit.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
	font-size:10px;
	font-weight:bold;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}
td.errors textarea {
    border: 1px solid red;
}

/* TABLES */

table {
    border: 1px solid #ccc;
    width: 100%
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
    width: 100%;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #b2d1ff;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
	border-radius:3px;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

/*DOWNLOAD AND VIEW LINKS*/
.view a {
	text-decoration: none;
	color:#390;
}
.view a:hover {
	text-decoration:underline;
}
.tableTitle{
	font-size: 10px;
	font-weight: bold;
	color: #333;
	background: #fff url(../images/skin/shadow.jpg);
}
.download a{    
	background: url(../images/skin/database_table.png) center left no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	margin:5px;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-decoration:none;
	padding:0px 0px 0px 20px;
}
.back a{    
	background: url(../images/skin/back.png) center left no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	margin:5px;
	width:16px;
	height:16px;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-decoration:none;
	padding:0px 0px 0px 20px;
}
 a.view{    
	background: url(../images/skin/view.png) center left no-repeat;
	font-family:Verdana, Geneva, sans-serif;
	margin:5px;
	width:16px;
	height:16px;
	font-size: 11px;
	color: #333333;
	text-decoration:none;
	padding:0px 0px 0px 20px;
}
.backbtn a{
	font-family:Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-decoration:none;
	padding:0px 0px 0px 10px;
}
	
.classBox{
	border: 1px solid #ccc;
	border-radius:3px;
	width:55%;
	padding:10px;
	margin-bottom:10px;
	text-align:left;
}
.classBoxInner{
	border: 1px solid #ccc;
	border-radius:5px;
	text-align:left;
	background:#fafafa;
	color:#777777;
}
.classInfo{
	border:0px;
}
.classInfo-left{
	width:25%;
	font-size:12px;
}
.classInfo-right{
	font-weight:bold;
	font-size:12px;
}
.menu {
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-radius:3px;
	margin-top:5px;
	padding-bottom:8px;
	padding-top:5px;
}
.menu-grid{
	margin-top:10px;
}

/*For buttons edit delete view add*/
.btn-edit, .btn-delete, .btn-link1{
	background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
	border: 1px solid #ccc;
	border-radius:3px;
	padding-left:5px;
	padding-right:5px;
	padding-top:2px;
	padding-bottom:2px;
	font-size:12px;
	color:#063;
	font: 12px verdana, arial, helvetica, sans-serif;
}
.btn-edit input{
	cursor:pointer;
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
	border:0;
}
.btn-delete input {
	cursor:pointer;
	background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
	border:0;
}
.btn-edit input.edit:hover, .btn-delete input.delete:hover{
	color:#F90;
}
.btn-link1 a{
	color:#333;
	text-decoration:none;
}
.btn-link1 a:hover{
	color:#F90;
}

	
	
	